# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Spring Tool Suite / Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env